In [ ]:
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
baby=pd.read_csv('/content/drive/MyDrive/Data Science/baby.csv')
baby

,Unnamed: 0,Birth Weight,Gestational Days,Maternal Age,Maternal Height,Maternal Pregnancy Weight,Maternal Smoker
0,0,120,284,27,62,100,False
1,1,113,282,33,64,135,False
2,2,128,279,28,64,115,True
3,3,108,282,23,67,125,True
4,4,136,286,25,62,93,False
...,...,...,...,...,...,...,...
1169,1169,113,275,27,60,100,False
1170,1170,128,265,24,67,120,False
1171,1171,130,291,30,65,150,True
1172,1172,125,281,21,65,110,False
1173,1173,117,297,38,65,129,False

In [ ]:
smoker=baby.loc[baby['Maternal Smoker']==True]
smokerset=smoker['Birth Weight']
smokerset

2       128
3       108
8       143
10      144
11      141
       ...
1162    143
1163    113
1164    109
1165    103
1171    130
Name: Birth Weight, Length: 459, dtype: int64

In [ ]:
nsmoker=baby.loc[baby['Maternal Smoker']==False]
nsmokerset=nsmoker['Birth Weight']
nsmokerset

0       120
1       113
4       136
5       138
6       132
       ...
1168    132
1169    113
1170    128
1172    125
1173    117
Name: Birth Weight, Length: 715, dtype: int64

In [ ]:
wt=baby.groupby('Maternal Smoker').mean()['Birth Weight']
diff=wt[0]-wt[1]
diff

9.266142572024918

In [ ]:
shuffle=baby.sample(1174,replace=False)
shuffle

,Unnamed: 0,Birth Weight,Gestational Days,Maternal Age,Maternal Height,Maternal Pregnancy Weight,Maternal Smoker
13,13,114,273,30,63,154,False
84,84,125,305,22,70,196,True
959,959,114,289,36,60,115,False
17,17,144,261,33,68,170,False
838,838,131,262,22,67,135,False
...,...,...,...,...,...,...,...
768,768,137,285,29,65,110,False
806,806,126,282,33,62,117,False
927,927,128,281,28,63,150,False
1059,1059,121,281,29,63,108,False
1065,1065,133,289,22,65,123,True

In [ ]:
shuffled_weights = shuffle['Birth Weight']
shuffled_weights

13      114
84      125
959     114
17      144
838     131
       ...
768     137
806     126
927     128
1059    121
1065    133
Name: Birth Weight, Length: 1174, dtype: int64

In [ ]:
baby['Shuff weights']=shuffled_weights.values
baby

,Unnamed: 0,Birth Weight,Gestational Days,Maternal Age,Maternal Height,Maternal Pregnancy Weight,Maternal Smoker,Shuff weights
0,0,120,284,27,62,100,False,114
1,1,113,282,33,64,135,False,125
2,2,128,279,28,64,115,True,114
3,3,108,282,23,67,125,True,144
4,4,136,286,25,62,93,False,131
...,...,...,...,...,...,...,...,...
1169,1169,113,275,27,60,100,False,137
1170,1170,128,265,24,67,120,False,126
1171,1171,130,291,30,65,150,True,128
1172,1172,125,281,21,65,110,False,121
1173,1173,117,297,38,65,129,False,133

In [ ]:
original_and_shuffled=pd.DataFrame({'Maternal Smoker':baby['Maternal Smoker'],'Actual':baby['Birth Weight'],'shuff':baby['Shuff weights']})
original_and_shuffled

      Maternal Smoker  Actual  shuff
0               False     120    114
1               False     113    125
2                True     128    114
3                True     108    144
4               False     136    131
...               ...     ...    ...
1169            False     113    137
1170            False     128    126
1171             True     130    128
1172            False     125    121
1173            False     117    133

[1174 rows x 3 columns]

In [ ]:
all_group_means= original_and_shuffled.groupby('Maternal Smoker').mean()
all_group_means

                     Actual       shuff
Maternal Smoker
False            123.085315  119.580420
True             113.819172  119.278867

In [ ]:
all_group_means.columns
all_group_means['shuff'][0]

119.58041958041959

In [ ]:
bt=pd.read_csv('/content/drive/MyDrive/Data Science/bta4.csv')
bt

    Unnamed: 0      Group  Result
0            0    Control       1
1            1    Control       1
2            2    Control       0
3            3    Control       0
4            4    Control       0
5            5    Control       0
6            6    Control       0
7            7    Control       0
8            8    Control       0
9            9    Control       0
10          10    Control       0
11          11    Control       0
12          12    Control       0
13          13    Control       0
14          14    Control       0
15          15    Control       0
16          16  Treatment       1
17          17  Treatment       1
18          18  Treatment       1
19          19  Treatment       1
20          20  Treatment       1
21          21  Treatment       1
22          22  Treatment       1
23          23  Treatment       1
24          24  Treatment       1
25          25  Treatment       0
26          26  Treatment       0
27          27  Treatment       0
28          28  Treatment       0
29          29  Treatment       0
30          30  Treatment       0

In [ ]:
table=bt.groupby('Group').mean()
table

           Unnamed: 0  Result     Shuff
Group
Control           7.5   0.125  0.437500
Treatment        23.0   0.600  0.266667

In [ ]:
obs=(table['Result'][1]-table['Result'][0])
obs

0.475

In [ ]:
shuffled=bt.sample(31,replace=False)
shuffled

    Unnamed: 0      Group  Result  Shuff
30          30  Treatment       0      0
3            3    Control       0      1
15          15    Control       0      1
4            4    Control       0      0
26          26  Treatment       0      0
29          29  Treatment       0      0
7            7    Control       0      1
18          18  Treatment       1      0
2            2    Control       0      1
22          22  Treatment       1      1
25          25  Treatment       0      0
20          20  Treatment       1      0
5            5    Control       0      1
14          14    Control       0      0
19          19  Treatment       1      0
11          11    Control       0      0
21          21  Treatment       1      1
0            0    Control       1      1
16          16  Treatment       1      0
10          10    Control       0      0
1            1    Control       1      0
17          17  Treatment       1      0
27          27  Treatment       0      0
12          12    Control       0      0
6            6    Control       0      0
28          28  Treatment       0      1
24          24  Treatment       1      1
9            9    Control       0      1
8            8    Control       0      0
23          23  Treatment       1      0
13          13    Control       0      0

In [ ]:
btshuff=shuffled['Result']
btshuff

30    0
3     0
15    0
4     0
26    0
29    0
7     0
18    1
2     0
22    1
25    0
20    1
5     0
14    0
19    1
11    0
21    1
0     1
16    1
10    0
1     1
17    1
27    0
12    0
6     0
28    0
24    1
9     0
8     0
23    1
13    0
Name: Result, dtype: int64

In [ ]:
orishuff

In [ ]:
bt['Shuff']=btshuff.values
bt

allgrp=bt.groupby('Group').mean()
allgrp

           Unnamed: 0  Result     Shuff
Group
Control           7.5   0.125  0.437500
Treatment        23.0   0.600  0.266667

In [ ]:
dist=abs(allgrp['Shuff'][0]-allgrp['Shuff'][1])
dist

0.17083333333333334

In [ ]:
for i in range(5000):
  shuff=bt.sample(31,replace=False)
  bt['random']=shuff['Result']
  bt.groupby('Group').mean()
  diff('')